.list{
    margin-left: 257px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    background-image: linear-gradient(#807f7fea,  #c7c7c7);
    /* flex-direction:column; */
    
}

.output {
    padding-top: 2px;
}

.name {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    /* justify-content: right; */
}